* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
input,
textarea,
button {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.center {
  width: 100%;
	margin: 0 auto;
	max-width: 1440px;
}

.button {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  color: white;
  background-color: #ff703d;
  border: none;
  margin-top: 15px;
}

/************HEADER *******/
header {
  width: 100%;
  height: 90vh;
  min-height: 800px;
  background-size: cover;
  background-image: url("../images/capa.png");
  background-position: center;
}

.head-container {
  width: 95%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center; /* vertical */
  justify-content: space-between; /* horizontal */
}

.head-container .logo {
  width: 180px;
  margin-bottom: 5px;
}

/* <!--MENU-DESKTOP --> */
nav.desk-menu ul {
  display: flex;
  list-style: none;
}

nav.desk-menu li {
  margin: auto 20px;
  /*font-size: 20px;*/
}

nav.desk-menu a {
  text-transform: capitalize;
  text-decoration: none;
  color: white;
}

/* <!--MENU-MOBILE --> */
nav.mobile-menu {
  left: 0px;
  top: 60px;
  width: 100%;
  padding-top: 12px;

  position: absolute;
  display: none;
  /* opacity: 0; */
  /* visibility: hidden; */
  /* -webkit-transition: opacity 300ms; */
  /* transition: opacity 300ms; */
}

nav.mobile-menu li {
  background-color: white;
  text-align: center;
  margin-bottom: 1px;
  padding: 10px 0;
  /* transition: 1s; */
}

nav.mobile-menu li:hover {
  background-color: rgb(230, 230, 230);
}

nav.mobile-menu a {
  text-decoration: none;
  color: black;
  width: 100%;
  cursor: pointer;
  display: block;
  text-transform: capitalize;
}

/* <!--HEADER TEXT --> */
.head-text {
  color: white;
  width: 700px;
  float: right;
  margin-right: 180px;
  margin-top: 200px;
}

.head-text h2 {
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 1;
  font-weight: 300;
}

.head-text p {
  width: 90%;
  font-size: 22px;
}

/***** SECTION DEV *****/
section.dev {
  width: 100%;
  background-color: #472562;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.dev .dev-text {
  width: 50%;
}

section.dev .dev-container {
  float: right;
  margin-right: -50px;
  width: 500px;
  color: white;
  font-weight: normal;
}

section.dev .dev-text h2 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 20px;
}

section.dev a {
  text-decoration: none;
  color: white;
}

section.dev .dev-text ul {
  margin: 5px 0 20px;
  font-size: 20px;
}

section.dev .dev-text ul li {
  padding: 10px 0;
  list-style-position: inside;
}

section.dev .cel-container {
  width: 50%;
}

section.dev .cel-image {
  background-image: url("../images/device.png");
  background-position: center;
  background-size: 100% 100%;
  height: 400px;
  width: 70%;
  margin-top: -40px;
}


/************** VANTAGENS ***********/
.vantagens{
	/* border: 2px solid red; */
	margin-top: 80px;
}
.container-vantagens{
	padding-left: 40px;
	padding-right: 40px;
}
.container-vantagens > h2{
	/* border: 2px solid blue; */
	text-align: center;
	font-weight: normal;
	color: #698293;
	font-size: 25px;
	text-transform: uppercase;
	height: 80px;	
}
.all-vantagens{
	/* border: 4px solid purple; */
	display: flex;
}
/*FOR DEBUG */
/* .vantagem{
	border: 2px solid yellow;
} */
.vantagem{
  padding: 0px 20px;
	padding-bottom: 35px;
	/* padding-right: 10px; */
  display: flex;
  text-align: center;
  flex-direction: column;
}
.vantagem h2{
	color: #737373;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 8px;
}

.vantagem p{
	color: #b4b4b4;
	font-size: 20px;
}

.vantagens-selector{
	/* border: 2px solid orange; */
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.vantagens-selector > .selector{
	margin: auto 7px;
	/* display: none; feito via javascript */
}
.vantagens-selector > .selector:first-child{
	background-color: #688293;
}

/************* SLICK DOTS ***************/
.selector {
	cursor: pointer;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: #d8d8d8; /*#688293 rgb(104,130,147)*/
	margin: auto 7px;
}

/**** TIME / COLABORES *****/
section.time {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* border: 2px solid black; */
}

section.time .esquerda {
  background-color: #835fa7;
  width: 50%;
  min-height: 100%;
}

section.time .time-text{
  max-width: 500px;
  width: auto;
}

section.time .time-text {
  padding: 5%;
  float: right;
  color: white;
}

section.time .time-text h2 {
  font-weight: 300;
  margin-bottom: 10px;
  font-style: italic;
}

section.time .time-text p {
  font-size: 16px;
  line-height: 2;
}

section.time .direita {
  width: 50%;
  height: 100%;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* border: 2px solid orange; */
}

.scrollColaboradores {
  overflow: hidden;
  width: 100%;
  display: flex;
}

/* colaborador */
.colaborador {
  min-width: 100%;
  background-color: white;
  /* padding-left: 30px; */
  padding-right: 20%;
  /* border: 1px solid red; */
}

.perfil {
  display: flex;
  color: #232323;
}

.perfil h2 {
  font-weight: 400;
  font-size: 21px;
}

.perfil .cargo {
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
}

.perfil .foto {
  width: 46px;
  height: 46px;
  border-radius: 23px;
  background-color: green;
  background-image: url("../images/rob.jpeg");
  background-size: cover;
  background-position: center;
  margin-left: 10px;
}

.colaborador .descricao {
  margin: 20px 0;
  line-height: 1.5;
}

.bullets {
  display: flex;
  margin-top: 10px;
  /* margin-left: 20px; */
}

.bolinha {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin-right: 10px;
  background-color: #c8c8c8;
  cursor: pointer;
}

.bolinha.active {
  background-color: #aaaaaa;
}

/******* CONTATO ********/
section.contato {
  width: 100%;
  background-color: #472563;
  display: flex;
  justify-content: center;
}

section.contato .center {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.form-container {
  width: 50%;
}

.form-container form {
  width: 75%;
  color: white;
}

form h2 {
  font-size: 23px;
  font-weight: 300;
}
form p {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 20px;
  width: 80%;
}

form input:not([type="submit"]),
form textarea {
  width: 100%;
  margin: 3px auto;
  padding: 15px 10px;
}

.map {
  width: 50%;
}

.map h2 {
  font-weight: 300;
  margin-bottom: 10px;
  color: white;
}

.google-map {
  border: 7px solid #c8c8c8;
  width: 80%;
  height: 500px;
}

/******* FOOTTER  ********/
footer {
  background-color: #192123;
  display: flex;
  justify-content: center;
}

footer > .center {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  width: 90%;
}

footer .center p {
  color: white;
}

/******* SCREEN <= 800px ********/
@media screen and (max-width: 800px) {
  .head-text {
    width: 100%;
    float: unset;
    display: flex;
    flex-direction: column;
    align-items: center; /* vertical */
    justify-content: center;
  }

  .head-text h2 {
    text-align: center;
    font-size: 30px;
  }

  .head-text p {
    text-align: center;
  }
}

/******* SCREEN >= 761px ********/
@media screen and (min-width: 761px) {
  /* UL visivel */
  .head-container ul {
    /* visibility: visible; */
    display: flex;
  }

  /* MENU escondido */
  .head-container img.menu {
    /* visibility: hidden; */
    display: none;
  }
}

/******* SCREEN <= 760px ********/
@media screen and (max-width: 760px) {
  /* desktop menu escondido */
  nav.desk-menu {
    /* visibility: hidden; */
    display: none;
  }

  /* icon menu visivel */
  .head-container img.menu {
    /* visibility: visible; */
    display: static;
    cursor: pointer;
  }

  /* <!--aprensentar o menu mobile--> */
  /* img.menu:hover + nav.mobile-menu {
    opacity: 1; 
  }

  nav.mobile-menu:hover {
    opacity: 1;
  } */

  /***** SECTION DEV *****/
  section.dev .dev-text {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  section.dev .cel-container {
    /* visibility: hidden; */
    display: none;
  }

  section.dev .dev-text .dev-container {
    margin: 40px 0;
    text-align: center;
  }

  section.dev .dev-text .dev-container ul {
    text-align: left;
    padding-left: 35%;
  }

  .pessoas-container p {
    margin: auto 15px;
    text-align: justify;
  }

  /******** SECTION PESSOAS ********/
  section.time {
    flex-wrap: wrap;
  }

  .colaborador,
  section.time .time-text,
  section.time .esquerda {
    width: unset;
    max-width: unset;
    padding: unset;
  }

  section.time .direita {
    width: 100%;
  }

  section.time .esquerda,
  .colaborador,
  .time-text {
    padding: 40px;
  }

  /******* CONTATO ********/
  section.contato .center {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .form-container {
    width: 70%;
  }

  .form-container form {
    width: unset;
    text-align: center;
  }

  .form-container form,
  .map {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 100px;
  }

  /******* FOOTER ********/
  footer > .center {
    padding: 40px 20px;
  }
}
