//ARQUIVO DO HEADER
@use "navigation";

$headerBackgroundColor: #281537;

header {
    width: 100%;
    .head-container {
        width: 100%;
        position: fixed;
        top: 0;
        background-color: $headerBackgroundColor;
        @include navigation.getNavigation;
    }
}
