* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

body,
html {
  background-color: #ededed;
  height: 100vh;
}

.center {
  width: 100%;
  margin: 0 auto;
  max-width: 1150px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}
header .head-container {
  width: 100%;
  background-color: #281537;
}
header .head-container .navigation {
  width: 100%;
  height: 75px;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .head-container .navigation .logo {
  cursor: pointer;
  width: 185px;
}
@media (max-width: 768px) {
  header .head-container .navigation nav.desk-menu {
    display: none;
  }
}
header .head-container .navigation nav.desk-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
header .head-container .navigation nav.desk-menu ul li {
  margin: auto 0 auto 40px;
}
header .head-container .navigation nav.desk-menu ul li a {
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}
header .head-container .navigation nav.desk-menu ul li a:hover {
  color: #703b9b;
}
header .head-container .navigation nav.mobile-menu {
  display: none;
  position: absolute;
  left: 0px;
  top: 75px;
  width: 100%;
}
header .head-container .navigation nav.mobile-menu ul li {
  background-color: #281537;
  text-align: center;
  padding: 15px 0;
}
header .head-container .navigation nav.mobile-menu ul li a {
  text-decoration: none;
  color: white;
  width: 100%;
  cursor: pointer;
  display: block;
  text-transform: capitalize;
  font-size: 1.2rem;
}
header .head-container .navigation nav.mobile-menu ul li:hover {
  background-color: #703b9b;
}
header .head-container .navigation img.menu {
  display: none;
}
@media (max-width: 768px) {
  header .head-container .navigation img.menu {
    display: block;
    cursor: pointer;
  }
}

.banner {
  width: 100%;
  height: calc(100vh - 75px);
  margin-top: 74px;
  background-color: #281537;
}
@media (max-width: 576px) {
  .banner {
    min-height: 550px;
  }
}
.banner .text-container {
  height: 90%;
  padding: 50px 10px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.banner .text-container h1 {
  width: 100%;
  font-size: clamp(3.2rem, 6vw, 7rem);
  font-weight: 900;
  color: white;
}

#service section.robot {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
#service section.robot,
#service section.website {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (max-width: 768px) {
  #service section.robot,
#service section.website {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
#service .container-image,
#service .container-text {
  width: 50%;
  padding: 0 30px 30px 30px;
}
@media (max-width: 768px) {
  #service .container-image,
#service .container-text {
    width: 100%;
  }
}
#service .container-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#service .container-image img {
  max-width: 100%;
  height: auto;
}
#service .container-text h2 {
  font-size: 2.5rem;
  margin: 0 0 20px 0;
  font-weight: 900;
  color: #281537;
}
#service .container-text p {
  margin: 7px 0;
  font-size: 1.2rem;
}
#service .container-text button {
  padding: 15px 30px;
  border: none;
  background-color: #472562;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  margin-top: 45px;
}
#service .container-text button:hover {
  background-color: #703b9b;
}

footer {
  background-color: #20112c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}
footer > div.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  width: 100%;
}
@media (max-width: 576px) {
  footer > div.center {
    width: 100%;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
footer > div.center p {
  color: white;
  font-size: 0.7rem;
}